/* ----------------------------- */
/*            RESET             */
/* ----------------------------- */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}

/* reset TAGS */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,ol,ul,li,fieldset,form,label,legend,table,caption{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}

/* ----------------------------- */
/*  STYLES DE BASE  */
/* ---------------------------- */	
@font-face {
    font-family: 'oO';
		src: url('../fonts/opificio-webfont.eot');
		src: url('../fonts/opificio-webfont.eot?iefix') format('eot'),
			 url('../fonts/opificio-webfont.woff') format('woff'),
			 url('../fonts/opificio-webfont.ttf') format('truetype'),
			 url('../fonts/opificio-webfont.svg#webfontrbChTaLI') format('svg');
				font-weight: normal;font-style: normal;}

@font-face {
    font-family: 'O_O';
		src: url('../fonts/jellyka_cuttycupcakes-webfont.eot');
		src: url('../fonts/jellyka_cuttycupcakes-webfont.eot?iefix') format('eot'),
			url('../fonts/jellyka_cuttycupcakes-webfont.woff') format('woff'),
			url('../fonts/jellyka_cuttycupcakes-webfont.ttf') format('truetype'),
			url('../fonts/jellyka_cuttycupcakes-webfont.svg#webfontThIAGJgq') format('svg');
				font-weight: normal;font-style: normal;}
	
	
html {font-size: 100%;}
  
body {
  background-color:#FFF;
  margin: 0; 
  padding: 0; 
  font-family: "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;}
  
/* ------------------------------ */
/*              LIENS             */
/* ----------------------------- */
a {text-decoration: none; font-family:Arial;outline: none;} 
a:focus, a:active {outline: none;} 
a img {border: none;} 

/* ------------------------------ */
/*        TITRES Hx          */
/* ----------------------------- */
h1 { 
  display: inline-block;
  font-weight: normal;}
 
h2 {  
  display: inline-block;
  font-weight: normal;} 
 
 h2 a, h2 a:visited {
  cursor:default;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
  
h2 a:hover, h2 a:focus {
  text-decoration: none;
  text-shadow: 0 0 10px #444;}
 

/* ------------------------------ */
/*    PARAGRAPHE     */
/* ---------------------------- */
p {margin: .75em 0;} 
 
 
/* ------------------------------ */
/*  ~ TYPE EN-LIGNE  */
/* ---------------------------- */
figure{display: inline-block; vertical-align: top;}
strong {font-weight: bold;}

.color{color:#669900}
.souligne{text-decoration:underline}
.retour{display:block;}
 
 
/* ------------------------------ */
/*           BLOCS              */
/* ---------------------------- */
.ombre{
  -webkit-box-shadow: 0px 5px 20px #555;
  -moz-box-shadow:0 0px 35px -10px #000;
  box-shadow:0 0px 35px -10px #000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=160 Strength=5); zoom: 1;}

.animer{ 
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}

.animer a:hover{color:#669900} 
    

/* ----------------------------------- */
/*            WRAPPER           */
/* --------------------------------- */	
#wrapper {
  margin:0 auto;
  min-height: 1000px;}
  
/* ----------------------------------- */
/*       HEADER MENU       */
/* --------------------------------- */
header{
  position: relative;
  border-bottom:6px solid #669900; 
  background-color:#202021;
  width:100%;
  margin:0 auto;
  height:150px;}
  
header #logo{
  float:left;
  margin-top:25px}

header nav {
  position: absolute;
  right:20px;
  bottom: 110px;
  font-size: 1.3em;}
  
header span.accroche { 
  position:absolute;
  margin:140px 0 0 -210px;
  text-shadow:0 0 5px #555;
  font:bold 2.4em 'O_O';
  color:#669900;}
   
header nav a {
  color:#FFF; 
  margin:0 7px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
  
header nav a:hover, header nav a:focus {
font-family:arial; /* A faire...................................................*/
  color:#669900;
  border-bottom:25px solid #669900;}
  
 
/* ------------------------------ */
/*          SLOGAN           */
/* ---------------------------- */
#slogan{
  text-align:right;
  padding:20px 50px 0 0;}
  
#slogan h2 a{ 
  font:bold 3.5em 'O_O';}
  

/* ------------------------------ */
/*         CONTENT          */
/* ---------------------------- */
#content {
  width:1000px;
  margin:0 auto;}


/* ------------------------------- */
/*    PRESENTATION   */
/* ----------------------------- */ 
section#presentation{
  margin:80px auto 0;
  width:1000px;}


/* ------------------------------ */
/*        COLONNES       */
/* --------------------------- */   
.colonne {display: inline-block;vertical-align:top;width:247px;margin:0;}
	.colonne h1{font:normal 1.3em Helvetica;padding-bottom:5px;margin:0 0 5px 15px;border-bottom:1px solid #999;width:220px;}
		.colonne p{padding:0 15px;text-align:justify;font-size:1em;color:#777;}
			.colonne a{display:block;color:#555;font-size:1.2em;padding:8px 10px 0;text-decoration:underline;}
			.colonne a:hover{display:block;color:#669900;margin-left:5px;}

#colonne_4 #adresse ul{list-style-type:none;margin:0;padding-left:15px;font-size:1em;color:#777}
	#colonne_4 #adresse li span{color:#669900;font-size:1.3em;letter-spacing:1px;padding:10px 40px 20px;display:block;}
	#colonne_4 #adresse li{line-height:24px;}
	#colonne_4 #adresse li a{display: inline-block}


/* ------------------------------ */
/*       SLIDESHOW       */
/* ---------------------------- */
section.slideshow{
  width:1000px;
  margin:40px auto 80px;
  clear:both;}



/* ------------------------------ */
/*              ACTU             */
/* ---------------------------- */
section#actu{  
  border-top:4px solid #669900; 
  width:100%;
  margin:0 auto;
  background:url('../images/footer/footer-motif.png') 0 0 repeat;}
  
section#actu h1{
  font-size:2em;
  display:block;
  color:#FFF}

.colonne_actu{margin:10px;width:395px;display:inline-block;vertical-align:top;}
	.colonne_actu h1 {font:bold 1.8em 'oO';width:395px;color:#EEE;border-bottom:1px solid #EEE; text-shadow:0 0 5px #000;margin-bottom:20px}
		.colonne_actu span {display: block;padding-bottom:10px;color:#669900;font:normal 1.4em 'oO';}
			.colonne_actu ul {list-style-type:none;}
				.colonne_actu li {color:#999;margin-bottom:15px}
				.colonne_actu li a{display: block;color:#0099FF;font-size:1.1em;}
				

#equipe img{float:left;border:1px dashed #BBB; width:90px;margin:0 10px;}
	#equipe li a.cv{display: block;font:normal 1.2em 'oO';width:70px;margin:30px 0 0 100px;}
	#equipe li a:hover.cv{font-weight:bold;}


aside.reseaux_sociaux{float:right;margin:10px;width:200px;background-image:url('../images/suivez-nous.png');background-position:right top;background-repeat:no-repeat;height:100px;}
aside.reseaux_sociaux span{display:none;}
.twitter:hover span{position:absolute;display:inline;margin:110px 0 0 -40px;}
.facebook:hover span{position:absolute;display:inline;margin:110px 0 0 -50px;}
aside.reseaux_sociaux:hover a:hover{text-decoration:none;font-size:1.1em;color:#669900;}
aside.reseaux_sociaux img {margin:70px 0 0 20px;width:45px;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.reseaux_sociaux a:hover img, .reseaux_sociaux a:focus img {-moz-transform: rotate(20deg);-webkit-transform: rotate(20deg);transform: rotate(20deg);}    



/* ------------------------------ */
/*          FOOTER            */
/* ---------------------------- */
footer{
  display:inline-block;
  width:100%;
  background:url('../images/footer/footer-motif.png') 0 0 repeat;}

footer p{color:#999;}
footer a {color: #669900;}
footer a:hover{text-decoration:underline;}
			
#mentions{width:520px;margin:0 auto;height:30px}
	#mentions p{border-top:1px solid #777;text-align:center;padding-top:7px}	


	
	
/* -------------------------------- */
/*       WEB MOBILE       */
/* ------------------------------ */
@media (max-width: 640px) { 
 
 /* passer tous les éléments de largeur fixe en largeur automatique */ 
 body, element1, element2 { 
   width: auto !important; 
   margin: auto !important; 
   padding: auto !important;  } 
 
 /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */ 
 img, table, td, blockquote, code, pre, textarea, input, object, embed, video { 
   max-width: 100% !important;  } 
 
 /* gestion des mots longs */ 
 textarea, table, td, th, code, pre, samp { 
   word-wrap: break-word; /* césure forcée */ 
   white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */  } 
 
 /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */ 
 element1, element2 { 
   float: none !important; 
   width: auto !important } 
 
 /* masquer les éléments superflus */ 
 .hide_mobile { 
   display: none !important; } 
 
 /* Un message personnalisé */ 
 body:before { 
   content: "Version mobile du site"; 
   display: block; 
   color: #777; 
   text-align: center; 
   font-style: italic; } 
} 

@media only screen and (max-device-width:640px) and (orientation:landscape)  {
	body {
	-webkit-text-size-adjust: 70% !important;}
}