@charset "UTF-8";
/* --------------------------------------------------------------- */
/*		Nom : Site en maintenance		 	*/
/*			Date : 03-03-2011  				*/
/* Auteurs: Demay Jean-Damien // Arana Jonathan    */
/* 		 Entreprise : www.kryzalead.fr	   	    	*/
/* 			  Edition: style.css			        */
/*			  Version: 1.0			   		*/
/* --------------------------------------------------------------- */
/* --------------------- */
/*         RESET     */
/* ----------------- */
/* line 14, ../style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* reset TAGS */
/* line 17, ../style.scss */
html, body, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, ol, ul, li, fieldset, form, label, legend, table, caption {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* --------------------------- */
/*  STYLES DE BASE  */
/* ----------------------- */
@font-face {
  font-family: 'oO';
  src: url("../fonts/opificio-webfont.eot");
  src: url("../fonts/opificio-webfont.eot?iefix") format("eot"), url("../fonts/opificio-webfont.woff") format("woff"), url("../fonts/opificio-webfont.ttf") format("truetype"), url("../fonts/opificio-webfont.svg#webfontrbChTaLI") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'O_O';
  src: url("../fonts/jellyka_cuttycupcakes-webfont.eot");
  src: url("../fonts/jellyka_cuttycupcakes-webfont.eot?iefix") format("eot"), url("../fonts/jellyka_cuttycupcakes-webfont.woff") format("woff"), url("../fonts/jellyka_cuttycupcakes-webfont.ttf") format("truetype"), url("../fonts/jellyka_cuttycupcakes-webfont.svg#webfontThIAGJgq") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 41, ../style.scss */
html {
  font-size: 100%;
}

/* line 42, ../style.scss */
body {
  background-color: #FFF;
  font-family: "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #6a6a6a;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ---------------------- */
/*         LIENS        */
/* ------------------- */
/* line 47, ../style.scss */
a {
  text-decoration: none;
  font-family: Arial;
  outline: none;
}

/* line 48, ../style.scss */
a:focus, a:active {
  outline: none;
}

/* line 49, ../style.scss */
a img {
  border: none;
}

/* ---------------------- */
/*    TITRES Hx      */
/* -------------------- */
/* line 55, ../style.scss */
h1 a, h1 a:visited, h2 a, h2 a:visited {
  cursor: default;
  text-decoration: none;
}

/* line 56, ../style.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus {
  text-decoration: none;
  color: #690;
}

/* line 57, ../style.scss */
h1, h2 {
  display: inline-block;
  font-weight: 400;
}

/* ------------------------ */
/*    PARAGRAPHE  */
/* --------------------- */
/* line 63, ../style.scss */
p {
  margin: .75em 0;
}

/* --------------------------- */
/* ~ TYPE EN-LIGNE   */
/* ------------------------ */
/* line 69, ../style.scss */
blockquote {
  padding-left: 20px;
  color: #777;
}

/* line 70, ../style.scss */
cite {
  margin: 5px 0 0 660px;
  display: block;
  color: #777;
  font-size: 0.9em;
}

/* line 71, ../style.scss */
blockquote.titre {
  background: url("../images/sprite.jpg") 700px -28px no-repeat;
  padding: 0 10px 0 5px;
  font-style: normal;
}

/* line 72, ../style.scss */
blockquote.titre:first-letter {
  background: url("../images/sprite.jpg") 0 0 no-repeat;
  padding-left: 25px;
  font-size: 1.1em;
}

/* carrés */
/* line 74, ../style.scss */
span.carreVert, .carreBleu, .carreRose, .carreOrange {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
}

/* line 75, ../style.scss */
span:hover.carreVert, :hover.carreBleu, :hover.carreRose, :hover.carreOrange {
  background: #FFF;
}

/* line 76, ../style.scss */
span.carreVert {
  background: #690;
}

/* line 77, ../style.scss */
span.carreBleu {
  background: #09F;
}

/* line 78, ../style.scss */
span.carreRose {
  background: #FF72E0;
}

/* line 79, ../style.scss */
span.carreOrange {
  background: #FFAD16;
}

/* line 83, ../style.scss */
.couleurVerte {
  color: #690;
}

/* line 84, ../style.scss */
.souligne {
  text-decoration: underline;
}

/* line 85, ../style.scss */
.txtBarre {
  text-decoration: line-through;
}

/* line 86, ../style.scss */
.gras {
  font-weight: bold;
}

/* line 87, ../style.scss */
.txtLittle {
  font-size: 0.85em;
  color: #777;
}

/* line 88, ../style.scss */
.tabulation {
  padding-left: 20px;
}

/* ------------------------ */
/*   FRAMEWORKS  */
/* --------------------- */
/* line 93, ../style.scss */
.ombre, header.headerMenu span.accroche, .actu article h2 {
  text-shadow: #777777 0 1px 3px;
}

/* line 94, ../style.scss */
.animer, h1 a, h1 a:visited, h2 a, h2 a:visited, header.headerMenu nav a:hover, header nav a:focus {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 95, ../style.scss */
.arrondie, aside.iconesProgs, #contact, #nom, #email, #message, #contactValid, #contactNoJs, #contactNoJsNom, #contactNoJsEmail, #contactNoJsMessage, #contactNoJsValid, input, textarea, #descType, .prev, .next, .navigation ul.subMenu {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 96, ../style.scss */
.boxOmbre, aside.iconesProgs, .navigation ul.subMenu {
  -moz-box-shadow: #777777 1px 1px 7px 0;
  -webkit-box-shadow: #777777 1px 1px 7px 0;
  -o-box-shadow: #777777 1px 1px 7px 0;
  box-shadow: #777777 1px 1px 7px 0;
}

/* ------------------------- */
/*       WRAPPER      */
/* ---------------------- */
/* line 101, ../style.scss */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------ */
/*      CONTENT       */
/* --------------------- */
/* line 107, ../style.scss */
#content {
  width: 1000px;
  margin: 120px auto 30px;
  min-height: 438px;
}

/* --------------------------- */
/*    HEADER MENU    */
/* ------------------------ */
/* line 113, ../style.scss */
header.headerMenu {
  border-bottom: 6px solid #690;
  background-color: #202021;
  width: 100%;
  height: 190px;
  margin: 0 auto;
}

/* line 114, ../style.scss */
header.headerMenu .c_header {
  width: 1000px;
  margin: 0 auto;
}

/* line 115, ../style.scss */
header.headerMenu a.logo {
  display: inline-block;
  margin-top: 65px;
  background: url("../images/logoKryzalead.png") 0 0 no-repeat;
  width: 450px;
  height: 217px;
  color: #202021;
  cursor: pointer;
}

/* line 116, ../style.scss */
header.headerMenu nav {
  font-size: 1.3em;
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 105px;
}

/* line 117, ../style.scss */
header.headerMenu nav a {
  color: #FFF;
  margin: 0 6px;
}

/* line 118, ../style.scss */
header.headerMenu nav a:hover, header nav a:focus {
  color: #690;
  border-bottom: 25px solid #690;
}

/* line 119, ../style.scss */
header.headerMenu span.accroche {
  display: block;
  width: 320px;
  font: bold 2.4em 'O_O';
  color: #690;
  margin: 135px 0 0 190px;
}

/* line 120, ../style.scss */
header.headerMenu #suivezNous {
  background: url("../images/sprite.jpg") 0 -497px no-repeat;
  width: 300px;
  height: 144px;
  margin: -236px 0 0 705px;
}

/* ----------------------- */
/* PRESENTATION */
/* -------------------- */
/* line 126, ../style.scss */
section#presentation {
  display: inline-block;
  vertical-align: top;
}

/* line 127, ../style.scss */
section#presentation h1 a {
  font: normal 4.5em 'O_O';
  display: block;
  width: 1000px;
  margin-bottom: 40px;
  text-align: right;
}

/*   COLONNES    */
/* line 130, ../style.scss */
#presentation article {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-left: 25px;
}

/* line 131, ../style.scss */
#presentation article h2 {
  margin: 0 0 20px;
  font: normal 1.3em Arial;
  padding-bottom: 2px;
  border-bottom: 1px solid #777;
  width: 220px;
}

/* line 132, ../style.scss */
#presentation article a {
  display: block;
  margin: 10px 0 0 15px;
  color: #09F;
  text-decoration: underline;
  font-weight: bold;
}

/* line 133, ../style.scss */
#presentation article a:hover {
  color: #690;
}

/* line 134, ../style.scss */
#presentation article p {
  margin: 0;
  color: #777;
  text-align: justify;
}

/* line 135, ../style.scss */
#presentation article ul {
  list-style-type: none;
  color: #777;
}

/* line 136, ../style.scss */
#presentation article li {
  line-height: 1.8em;
}

/* line 137, ../style.scss */
#presentation article li span {
  color: #690;
  font-size: 1.2em;
  margin: 0 0 15px 20px;
  display: block;
  letter-spacing: 1px;
}

/* line 138, ../style.scss */
#presentation article span.fleche {
  background: url("../images/sprite.jpg") -205px 0 no-repeat;
  width: 30px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

/* -------------------- */
/*     AGENCE     */
/* ---------------- */
/* line 144, ../style.scss */
section#agence {
  display: inline-block;
  vertical-align: top;
  width: 580px;
}

/* line 145, ../style.scss */
section#agence h1 a {
  font: normal 5em 'O_O';
  padding-bottom: 10px;
}

/* line 146, ../style.scss */
section#agence article p {
  color: #6a6a6a;
  text-align: justify;
}

/* line 148, ../style.scss */
#portraitAgence {
  background: url("../images/sprite.jpg") 0 -54px no-repeat;
  width: 600px;
  height: 235px;
  margin: 20px 0 10px;
}

/* line 150, ../style.scss */
section#etapes {
  margin-top: 20px;
}

/* line 151, ../style.scss */
h1.processus {
  position: absolute;
  background: url("../images/sprite2.jpg") 0 8px no-repeat;
  width: 80px;
  height: 490px;
  color: #FFF;
  cursor: default;
}

/* line 152, ../style.scss */
ul.process {
  font-size: 0.9em;
  color: #777;
  list-style-type: none;
}

/* line 153, ../style.scss */
ul.process li span.txt {
  position: absolute;
  padding: 30px 0 0 20px;
  text-align: justify;
  color: #6a6a6a;
  cursor: default;
  width: 500px;
}

/* line 154, ../style.scss */
ul.process li strong {
  color: #636363;
  font-size: 1.1em;
  margin-bottom: 5px;
  display: block;
}

/*  Anime Lignes   */
/* line 157, ../style.scss */
ul.process li a {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 90px;
  background: url("../images/sprite2.jpg") 0 0 no-repeat;
}

/* line 158, ../style.scss */
ul.process li a:hover {
  background: url("../images/sprite2.jpg") -356px 0 no-repeat;
}

/* line 160, ../style.scss */
ul.process li.premierContact a {
  background-position: 0 0;
}

/* line 161, ../style.scss */
ul.process li.premierContact a:hover {
  background-position: -320px 0;
}

/* line 163, ../style.scss */
ul.process li.conception a {
  background-position: 0 -90px;
}

/* line 164, ../style.scss */
ul.process li.conception a:hover {
  background-position: -320px -90px;
}

/* line 166, ../style.scss */
ul.process li.realisation a {
  background-position: 0 -180px;
}

/* line 167, ../style.scss */
ul.process li.realisation a:hover {
  background-position: -320px -180px;
}

/* line 169, ../style.scss */
ul.process li.miseEnLigne a {
  background-position: 0 -270px;
}

/* line 170, ../style.scss */
ul.process li.miseEnLigne a:hover {
  background-position: -320px -270px;
}

/* line 172, ../style.scss */
ul.process li.maintenance a {
  background-position: 0 -362px;
  height: 120px;
}

/* line 173, ../style.scss */
ul.process li.maintenance a:hover {
  background-position: -320px -362px;
}

/* line 175, ../style.scss */
#ombreBarre {
  width: 465px;
  height: 14px;
  background: url("../images/sprite.jpg") -280px 0 no-repeat;
  margin-top: 30px;
}

/* line 176, ../style.scss */
#ombrePetiteBarre {
  width: 300px;
  height: 14px;
  background: url("../images/ombreBarre.png") 0 0 no-repeat;
}

/* line 177, ../style.scss */
#ombreGrandeBarre {
  width: 950px;
  height: 14px;
  background: url("../images/sprite.jpg") -50px -40px no-repeat;
  margin-top: 50px;
}

/* line 179, ../style.scss */
article.txtDeveloppement {
  width: 800px;
}

/* line 180, ../style.scss */
article.txtDeveloppement blockquote {
  font: normal 1.8em 'oO';
  margin-top: 30px;
}

/* line 181, ../style.scss */
article.txtDeveloppement p {
  width: 900px;
}

/* line 183, ../style.scss */
section#pointsForts {
  margin-top: 50px;
}

/* line 184, ../style.scss */
section#pointsForts h1 {
  font: normal 2em 'oO';
  margin-bottom: 30px;
  border-bottom: 1px solid #999;
}

/* line 185, ../style.scss */
section#pointsForts ul {
  list-style-type: none;
}

/* line 186, ../style.scss */
section#pointsForts li {
  width: 225px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  text-align: justify;
  color: #6a6a6a;
}

/* line 187, ../style.scss */
section#pointsForts li img {
  position: absolute;
  margin-left: 75px;
  width: 70px;
  height: 70px;
}

/* line 188, ../style.scss */
section#pointsForts span.titre {
  font: bold 1.5em 'oO';
  color: #3095DD;
  text-align: center;
  display: block;
  margin: 80px 0 15px;
}

/* line 190, ../style.scss */
aside.iconesProgs {
  margin-top: 30px;
  padding: 5px 10px;
  width: 320px;
  height: 438px;
  display: inline-block;
  vertical-align: top;
  float: right;
}

/* line 191, ../style.scss */
aside.iconesProgs h1 {
  font: normal 2em 'oO';
  color: #09F;
}

/* line 192, ../style.scss */
aside.iconesProgs ul {
  list-style-type: none;
  margin: 25px auto 0;
}

/* line 193, ../style.scss */
aside.iconesProgs p {
  text-align: justify;
  color: #555;
  padding-right: 5px;
}

/* line 195, ../style.scss */
ul.icones {
  height: 326px;
  width: 300px;
}

/* line 196, ../style.scss */
ul.icones li a {
  float: left;
  width: 75px;
  height: 75px;
  background: url("../images/sprite.jpg") 0 0 no-repeat;
  margin: 5px 0 0 8px;
}

/* line 197, ../style.scss */
ul.icones li a:hover {
  background: url("../images/sprite.jpg") 0 0 no-repeat;
}

/* line 198, ../style.scss */
ul.icones li.photoshtopIcone a {
  background-position: -153px -380px;
  margin-right: 15px;
}

/* line 199, ../style.scss */
ul.icones li.photoshtopIcone a:hover {
  background-position: -153px -300px;
}

/* line 200, ../style.scss */
ul.icones li.illustratorIcone a {
  background-position: -80px -380px;
  margin-right: 15px;
}

/* line 201, ../style.scss */
ul.icones li.illustratorIcone a:hover {
  background-position: -80px -300px;
}

/* line 202, ../style.scss */
ul.icones li.flashIcone a {
  background-position: 0 -380px;
  margin-right: 15px;
}

/* line 203, ../style.scss */
ul.icones li.flashIcone a:hover {
  background-position: 0 -300px;
}

/* line 204, ../style.scss */
ul.icones li.komodoIcone a {
  background-position: -235px -380px;
  margin-right: 15px;
}

/* line 205, ../style.scss */
ul.icones li.komodoIcone a:hover {
  background-position: -235px -300px;
}

/* line 206, ../style.scss */
ul.icones li.wordpressIcone a {
  background-position: -410px -380px;
}

/* line 207, ../style.scss */
ul.icones li.wordpressIcone a:hover {
  background-position: -410px -299px;
}

/* line 208, ../style.scss */
ul.icones li.w3cIcone a {
  background-position: -305px -380px;
  width: 100px;
}

/* line 209, ../style.scss */
ul.icones li.w3cIcone a:hover {
  background-position: -305px -300px;
}

/* line 210, ../style.scss */
ul.icones li.jqueryIcone a {
  background-position: -550px -380px;
  width: 150px;
}

/* line 211, ../style.scss */
ul.icones li.jqueryIcone a:hover {
  background-position: -550px -301px;
}

/* line 212, ../style.scss */
ul.icones li.phpIcone a {
  background-position: -475px -380px;
  margin: 8px 30px 0 50px;
}

/* line 213, ../style.scss */
ul.icones li.phpIcone a:hover {
  background-position: -475px -301px;
}

/* line 214, ../style.scss */
ul.icones li.ajaxIcone a {
  background-position: -780px -380px;
  width: 120px;
}

/* line 215, ../style.scss */
ul.icones li.ajaxIcone a:hover {
  background-position: -780px -299px;
}

/* line 216, ../style.scss */
ul.icones li.prestashopIcone a {
  background-position: -700px -380px;
}

/* line 217, ../style.scss */
ul.icones li.prestashopIcone a:hover {
  background-position: -700px -300px;
}

/* ------------------------ */
/*     SLIDESHOW    */
/* --------------------- */
/* line 223, ../style.scss */
section.slideshow {
  width: 1000px;
  margin: 40px auto 90px;
}

/* ------------------ */
/*       ACTU      */
/* --------------- */
/* line 229, ../style.scss */
#c_actu {
  width: 1000px;
  margin: 0 auto;
}

/* line 230, ../style.scss */
.actu {
  width: 100%;
  background: url("../images/footer/footer-motif.png") 0 0 repeat;
  border-top: 4px solid #690;
}

/* line 231, ../style.scss */
.actu:after {
  display: block;
  clear: both;
}

/* line 232, ../style.scss */
.actu article {
  margin: 20px 50px 0 0;
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

/* line 233, ../style.scss */
.actu article h2 {
  font: bold 1.8em 'oO';
  width: 380px;
  color: #EEE;
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
}

/* line 234, ../style.scss */
.actu article p {
  color: #777;
}

/* line 235, ../style.scss */
.actu article ul {
  list-style-type: none;
  color: #777;
}

/* line 236, ../style.scss */
#equipe li {
  margin-bottom: 15px;
  height: 112px;
}

/* line 237, ../style.scss */
#equipe li span.titre {
  display: block;
  vertical-align: top;
  margin-bottom: 10px;
  color: #690;
  font: normal 1.4em 'oO';
}

/* line 238, ../style.scss */
#equipe li a.cv {
  display: block;
  color: #09F;
  font: normal 1.2em 'oO';
  width: 75px;
  margin: 45px 0 0 100px;
}

/* line 239, ../style.scss */
#equipe li a:hover.cv {
  font-weight: bold;
}

/* line 241, ../style.scss */
#equipe li span.webdesigner, .developpeurPhp, .commerciale {
  width: 105px;
  height: 110px;
  border: 1px dashed #D6D6D6;
  margin-right: 10px;
  float: left;
  background: url("../images/sprite.jpg") 0 0 no-repeat;
}

/* line 242, ../style.scss */
#equipe li span.webdesigner {
  background-position: -310px -498px;
}

/* line 243, ../style.scss */
#equipe li span.developpeurPhp {
  background-position: -425px -498px;
}

/* line 244, ../style.scss */
#equipe li span.commerciale {
  background-position: -533px -498px;
}

/*   Blog   */
/* line 248, ../style.scss */
article header.actuBlog p {
  color: #690;
}

/* -------------------------------------- */
/*    STYLE FORM CONTACT   */
/* ---------------------------------- */
/* line 254, ../style.scss */
#contact {
  background-color: #fff;
  display: none;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 90px;
  width: 650px;
  z-index: 9999;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 255, ../style.scss */
#contact #bonhommeContact {
  float: right;
  display: inline-block;
  margin: 50px 30px 0 0;
  background: url("../images/sprite.jpg") -650px -505px no-repeat;
  width: 240px;
  height: 260px;
}

/* line 256, ../style.scss */
#contact h2 {
  font: normal 4.5em 'O_O';
}

/* line 257, ../style.scss */
#close a {
  background: url("../images/sprite.jpg") -795px 0 no-repeat;
  cursor: pointer;
  font: bold 1.5em Arial;
  width: 115px;
  height: 40px;
  float: right;
  color: #202021;
  text-decoration: none;
}

/* line 258, ../style.scss */
#close a:hover {
  background: url("../images/sprite.jpg") -909px 0 no-repeat;
  color: #ea0f00;
  font-size: 1.7em;
  text-decoration: underline;
}

/* line 259, ../style.scss */
#contact span#symboleAt {
  background: url("../images/sprite.jpg") -740px 0 no-repeat;
  margin-right: 5px;
  width: 50px;
  height: 40px;
  display: inline-block;
}

/* line 260, ../style.scss */
.success, .inputError, .error {
  display: none;
}

/* line 261, ../style.scss */
.success {
  background-color: #9F6;
  border: 1px solid #0F0;
}

/* line 262, ../style.scss */
.inputError, .error {
  color: red;
}

/* line 263, ../style.scss */
#mask {
  background-color: #202021;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9000;
}

/* line 264, ../style.scss */
#nom, #email, #message {
  width: 230px;
  height: 7px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 10px 5px;
  overflow: hidden;
}

/* line 265, ../style.scss */
#nom:hover, #email:hover, #message:hover {
  background-color: #c8e789;
}

/* line 266, ../style.scss */
#message {
  width: 290px;
  max-width: 330px;
  height: 100px;
  max-height: 200px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 5px;
  overflow: hidden;
}

/* line 267, ../style.scss */
#contactValid {
  margin: 10px 0 0 220px;
  color: #690;
  font: bold 1.3em 'oO';
  width: 100px;
  cursor: pointer;
  background-color: #d2e8a5;
}

/* line 268, ../style.scss */
#contactValid:hover {
  background-color: #c8e789;
  color: #660;
  font: bold 1.3em 'oO';
  letter-spacing: 1px;
}

/*  Contact NoJS  */
/* line 271, ../style.scss */
#contactNoJs {
  width: 650px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* line 272, ../style.scss */
#contactNoJs #bonhommeContact {
  float: right;
  display: inline-block;
  margin: 50px 30px 0 0;
  background: url("../images/sprite.jpg") -650px -505px no-repeat;
  width: 240px;
  height: 260px;
}

/* line 273, ../style.scss */
#contactNoJs span#symboleAt {
  background: url("../images/sprite.jpg") -740px 0 no-repeat;
  margin-right: 5px;
  width: 50px;
  height: 40px;
  display: inline-block;
}

/* line 274, ../style.scss */
#contactNoJs h2 {
  font: normal 4.5em 'O_O';
}

/* line 275, ../style.scss */
#contactNoJs .inputError {
  display: inline;
}

/* line 276, ../style.scss */
#contactNoJs .success, #contactNoJs .error {
  display: block;
}

/* line 277, ../style.scss */
#contactNoJsNom, #contactNoJsEmail {
  width: 230px;
  height: 7px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 10px 5px;
  overflow: hidden;
}

/* line 278, ../style.scss */
#contactNoJsMessage:hover, #contactNoJsNom:hover, #contactNoJsEmail:hover {
  background-color: #c8e789;
}

/* line 279, ../style.scss */
#contactNoJsMessage {
  width: 300px;
  max-width: 325px;
  height: 140px;
  max-height: 200px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 5px;
  overflow: hidden;
}

/* line 280, ../style.scss */
#contactNoJsValid {
  width: 80px;
  cursor: pointer;
  background-color: #d2e8a5;
}

/* line 281, ../style.scss */
#contactNoJsValid:hover {
  background-color: #c8e789;
  color: #690;
  font: bold 1em Arial;
}

/* ---------------------- */
/*  STYLE DEVIS   */
/* ------------------ */
/* line 287, ../style.scss */
section#devis h2 a {
  font: normal 4.5em 'O_O';
  padding-top: 10px;
  display: block;
}

/* line 288, ../style.scss */
section#devis p {
  color: #777;
  text-align: justify;
  width: 850px;
}

/* line 289, ../style.scss */
section#devis legend {
  font-size: 1.3em;
  padding: 20px 0;
  text-decoration: underline;
  color: #690;
}

/* line 290, ../style.scss */
section#devis #devisImg {
  background: url("../images/sprite2.jpg") -720px 0 no-repeat;
  width: 276px;
  height: 90px;
  display: block;
  margin: 40px 0 0 270px;
}

/* line 292, ../style.scss */
section#form_devis {
  width: 750px;
  margin: 30px auto 0;
}

/* line 294, ../style.scss */
.asterisk {
  font-size: 0.7em;
  vertical-align: super;
  color: #555;
  font-weight: bold;
}

/* line 295, ../style.scss */
.little {
  font-size: 0.75em;
}

/* line 296, ../style.scss */
.clear {
  clear: both;
}

/* line 298, ../style.scss */
.descInput {
  display: block;
  width: 250px;
  float: left;
}

/* line 299, ../style.scss */
.inputRadio input {
  margin: 5px 0 0 30px;
}

/* line 300, ../style.scss */
.infobulle {
  margin-left: 60px;
  float: left;
  width: 200px;
  margin-top: 10px;
  position: relative;
}

/* line 301, ../style.scss */
.infobulle label span {
  width: 200px;
  position: absolute;
  display: none;
  padding: 5px;
  top: 20px;
  left: 70px;
  background: #d2e8a5;
  border: 1px solid #999;
  font-size: 0.9em;
  z-index: 10;
  text-align: center;
}

/* line 302, ../style.scss */
#valid {
  margin: 30px 0 0 420px;
  width: 100px;
  cursor: pointer;
  font: bold 1.3em 'oO';
  background-color: #D2E8A5;
  padding: 4px 0;
  text-align: center;
  color: #690;
  text-decoration: none;
}

/* line 303, ../style.scss */
#valid:hover {
  font-weight: bold;
  background-color: #c8e789;
  text-decoration: none;
  color: #660;
}

/* line 305, ../style.scss */
input[type="text"], select, textarea {
  width: 250px;
}

/* line 306, ../style.scss */
input[type="radio"] {
  margin: 0 5px;
}

/* line 307, ../style.scss */
input[type="checkbox"] {
  margin-right: 5px;
}

/* line 308, ../style.scss */
input, textarea {
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  max-height: 150px;
  max-width: 250px;
}

/* line 309, ../style.scss */
select {
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-right: 1px solid #CECECE;
  padding: 2px;
  color: #690;
  font: bold 1em 'oO';
  width: 165px;
  text-align: center;
}

/* line 311, ../style.scss */
#floatLeft {
  margin: 15px 0;
  position: absolute;
}

/* line 312, ../style.scss */
#floatLeft input {
  margin: 10px 0 0px 30px;
}

/* line 313, ../style.scss */
#descType {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 100px;
  margin: 15px 0 10px 250px;
  border: 1px dashed #690;
}

/* line 314, ../style.scss */
#descType p {
  padding: 35px 40px;
}

/* line 315, ../style.scss */
#optionSouhaitees p.infobulle {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

/* Style de la liste des étapes*/
/* line 319, ../style.scss */
#steps {
  list-style: none;
  width: 500px;
  margin: 40px 40px 20px;
  overflow: hidden;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* line 320, ../style.scss */
#steps li {
  font-size: 1.8em;
  display: inline-block;
  padding-left: 30px;
  margin: 10px 20px;
  color: #b0b1b3;
}

/* line 321, ../style.scss */
#steps li span {
  font-size: 11px;
  display: block;
}

/* line 322, ../style.scss */
#steps li.current {
  color: #690;
  font-weight: bold;
}

/* Style boutons précédent et suivant*/
/* line 325, ../style.scss */
.prev, .next {
  font: bold 1.3em 'oO';
  width: 100px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-style: solid;
  border-width: 1px;
  background-color: #D2E8A5;
  padding: 4px 0;
  text-align: center;
  color: #690;
  text-decoration: none;
}

/* line 326, ../style.scss */
.prev:hover, .next:hover {
  font-weight: bold;
  background-color: #c8e789;
  text-decoration: none;
  color: #660;
}

/* line 327, ../style.scss */
.prev {
  display: inline-block;
  margin-top: 40px;
}

/* line 328, ../style.scss */
.next {
  display: inline-block;
  margin-left: 550px;
}

/* --------------- */
/*    PACKS   */
/* ------------ */
/* line 334, ../style.scss */
section#packs {
  width: 1000px;
  height: 840px;
  margin: 0 auto;
}

/* line 335, ../style.scss */
section#packs p {
  padding: 30px 0;
  font: normal 1em Arial;
}

/* line 336, ../style.scss */
section#packs nav.slide {
  border-bottom: 1px solid #999;
  width: 1000px;
}

/* line 337, ../style.scss */
section#packs h1#imgNosPacks {
  width: 405px;
  height: 120px;
  background: url("../images/sprite2.jpg") -719px -100px no-repeat;
  margin-left: 250px;
}

/* line 339, ../style.scss */
ul.navigation ul {
  list-style-type: none;
  display: block;
}

/* line 340, ../style.scss */
.navigation li.toggleSubMenu {
  display: inline-block;
  vertical-align: top;
  height: 135px;
  width: 107px;
  background: url("../images/sprite2.jpg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 341, ../style.scss */
.navigation a {
  margin-bottom: 40px;
  padding-top: 117px;
  text-align: center;
  display: block;
  font: bold 1.2em 'oO';
}

/* line 342, ../style.scss */
.navigation a:hover, .navigation a:focus, .navigation a:active {
  text-decoration: none;
  color: #690;
}

/* line 343, ../style.scss */
.navigation ul.subMenu {
  position: absolute;
  left: 50%;
  margin-left: -490px;
  width: 980px;
  font-size: 1em;
  color: #888;
}

/* line 344, ../style.scss */
.navigation ul.subMenu ul {
  display: inline-block;
  vertical-align: top;
}

/* line 345, ../style.scss */
.navigation ul.subMenu li.colonnesPack {
  width: 320px;
  display: inline-block;
  vertical-align: top;
  background-color: #FFF;
}

/* line 346, ../style.scss */
.navigation ul.subMenu li.colonnesPack div {
  padding: 0px 15px;
}

/* line 347, ../style.scss */
.navigation ul.subMenu li.colonnesPack div h1 {
  font: bold 1.6em 'oO';
  letter-spacing: 4px;
  padding: 15px 0;
  display: block;
  text-align: center;
  color: #09F;
}

/* line 348, ../style.scss */
.navigation ul.subMenu li.colonnesPack div p {
  display: inline;
  text-align: justify;
}

/* line 349, ../style.scss */
.navigation ul.subMenu li.colonnesPack div.listePack li {
  color: #09F;
  border-bottom: 1px dashed #999;
  margin: 8px auto;
  width: 280px;
}

/* line 350, ../style.scss */
.navigation ul.subMenu li.colonnesPack div ul.prixVitrine {
  margin: 75px 0 0 40px;
}

/* line 351, ../style.scss */
.navigation ul.subMenu li.colonnesPack div ul.prixVitrine li {
  border-bottom: 1px dashed #999;
  width: 210px;
  font: normal 1.1em Arial;
  line-height: 2.8em;
  text-align: center;
}

/* line 352, ../style.scss */
.navigation ul.subMenu li.colonnesPack div ul.prixVitrine li span.prix {
  color: #690;
  font: italic 1.2em Arial;
}

/* line 355, ../style.scss */
.navigation ul.subMenu li.colonnesPack div.imgPackLauchWeb {
  background: url("../images/sprite3.jpg") 0 50px no-repeat;
  width: 270px;
  height: 310px;
}

/* line 356, ../style.scss */
.navigation ul.subMenu li.colonnesPack div.imgPackVitrine {
  background: url("../images/sprite3.jpg") 0 -255px no-repeat;
  width: 295px;
  height: 340px;
}

/* line 357, ../style.scss */
.navigation ul.subMenu li.colonnesPack div.imgPackCatalogue {
  background: url("../images/sprite3.jpg") -305px 50px no-repeat;
  width: 280px;
  height: 310px;
}

/* line 360, ../style.scss */
.navigation li.packLaunchWeb {
  background-position: 7px -615px;
}

/* line 361, ../style.scss */
.navigation li.packLaunchWeb:hover {
  background-position: 7px -485px;
}

/* line 362, ../style.scss */
.navigation li.packVitrine {
  background-position: -107px -615px;
}

/* line 363, ../style.scss */
.navigation li.packVitrine:hover {
  background-position: -107px -485px;
}

/* line 364, ../style.scss */
.navigation li.packCatalogue {
  background-position: -345px -615px;
}

/* line 365, ../style.scss */
.navigation li.packCatalogue:hover {
  background-position: -345px -485px;
}

/* line 366, ../style.scss */
.navigation li.packEcommerce {
  background-position: -217px -615px;
}

/* line 367, ../style.scss */
.navigation li.packEcommerce:hover {
  background-position: -217px -485px;
}

/* line 368, ../style.scss */
.navigation li.packMetiers {
  background-position: -589px -615px;
}

/* line 369, ../style.scss */
.navigation li.packMetiers:hover {
  background-position: -589px -485px;
}

/* line 370, ../style.scss */
.navigation li.packSurMesure {
  background-position: -816px -615px;
}

/* line 371, ../style.scss */
.navigation li.packSurMesure:hover {
  background-position: -816px -485px;
}

/* line 372, ../style.scss */
.navigation li.packRefonte {
  background-position: -471px -615px;
}

/* line 373, ../style.scss */
.navigation li.packRefonte:hover {
  background-position: -471px -485px;
}

/* line 374, ../style.scss */
.navigation li.backOffice {
  background-position: -695px -615px;
}

/* line 375, ../style.scss */
.navigation li.backOffice:hover {
  background-position: -695px -485px;
}

/* line 376, ../style.scss */
.navigation li.packMaintenance {
  background-position: -954px -615px;
}

/* line 377, ../style.scss */
.navigation li.packMaintenance:hover {
  background-position: -954px -485px;
}

/* ----------------------------------- */
/*    MENTIONS-LEGALES    */
/* ------------------------------- */
/* line 383, ../style.scss */
section#mentions-legales article {
  margin: 10px 0 20px;
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

/* line 384, ../style.scss */
section#mentions-legales article h1 a {
  font: normal 4.5em 'O_O';
  padding-bottom: 25px;
  display: block;
}

/* line 385, ../style.scss */
section#mentions-legales article h2 {
  font: bold 1.4em Arial;
  color: #a6ba3b;
  padding: 15px 0;
}

/* line 386, ../style.scss */
section#mentions-legales article ul {
  list-style-type: none;
  color: #777;
  text-align: justify;
}

/* line 387, ../style.scss */
section#mentions-legales article li {
  font-size: 1em;
  line-height: 1.7em;
  margin-left: 30px;
}

/* line 388, ../style.scss */
section#mentions-legales article li a {
  color: #a6ba3b;
  font-weight: bold;
}

/* line 389, ../style.scss */
section#mentions-legales article li a:hover {
  color: #2CDDC9;
}

/* line 390, ../style.scss */
section#mentions-legales article li a:hover span {
  color: #2CDDC9;
}

/* line 391, ../style.scss */
section#mentions-legales article li span {
  color: #a6ba3b;
  font-weight: bold;
  cursor: default;
}

/* line 392, ../style.scss */
section#mentions-legales #mentionsImg {
  background: url("../images/sprite.jpg") -610px -55px no-repeat;
  width: 260px;
  height: 250px;
  display: inline-block;
  margin: 40px 0 0 100px;
}

/* ---------------------- */
/*     FOOTER        */
/* ------------------- */
/* line 398, ../style.scss */
footer {
  display: inline-block;
  border-top: 3px solid #690;
  width: 100%;
  background-color: #111000;
}

/* line 399, ../style.scss */
footer p, a {
  color: #999;
}

/* line 400, ../style.scss */
footer a:hover {
  text-decoration: underline;
  color: #690;
}

/* line 401, ../style.scss */
#mentions {
  width: 1000px;
  margin: 0 auto;
}

/* line 402, ../style.scss */
#mentions p {
  text-align: left;
  font-size: 0.85em;
  padding-top: 3px;
}

/* line 403, ../style.scss */
#mentions span.ml {
  padding-left: 225px;
}

/* line 404, ../style.scss */
#mentions span.w3cLogo {
  background: url("../images/sprite.jpg") -126px 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: -5px 0 0 5px;
  width: 70px;
  height: 27px;
}

/* ------------------------ */
/*        WEB MOBILE         */
/* --------------------- */
@media (max-width: 640px) {
  /* passer tous les éléments de largeur fixe en largeur automatique */
  /* line 413, ../style.scss */
  body, element1, element2 {
    width: auto !important;
    margin: auto !important;
    padding: auto !important;
  }

  /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
  /* line 419, ../style.scss */
  img, table, td, blockquote, code, pre, textarea, input, object, embed, video {
    max-width: 100% !important;
  }

  /* gestion des mots longs */
  /* line 423, ../style.scss */
  textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    /* césure forcée */
    white-space: pre-line;
    /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }

  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
  /* line 428, ../style.scss */
  element1, element2 {
    float: none !important;
    width: auto !important;
  }

  /* masquer les éléments superflus */
  /* line 433, ../style.scss */
  .hide_mobile {
    display: none !important;
  }

  /* Un message personnalisé */
  /* line 437, ../style.scss */
  body:before {
    content: "Version mobile du site";
    display: block;
    color: #777;
    text-align: center;
    font-style: italic;
  }
}

@media only screen and (max-device-width:640px) and (orientation:landscape) {
  /* line 446, ../style.scss */
  body {
    -webkit-text-size-adjust: 70% !important;
  }
}
