
/* Positions the contact form so it doesn't interfere with any other content, as well as a z-index above any other elements on the page */	
#contact {

	z-index:1;}
	
/* Hides the whole contact form until needed */	
#contactForm { /* style menu deoulant */
	height:300px;
	width:550px;
	background:#202021; 
	border:1px solid #669900;
	padding:7px 12px; 
	color:#fff;
	display:none;}   

/* Loading bar that will appear while the ajax magic is happening */
.bar{
	display:none; 
	background:url(../images/contact/ajax-loader.gif) no-repeat center; 
	margin-top:100px; 
	height:40px; width:230px;}
	
/* Hides the confirmation message until needed */	
#messageSent {display:none;}

	
/* Some styling for the contact button */
#contact .contact {
	height:47px; 
	width:211px;
	background:url(../images/contact/contact_me.png); 
	cursor:pointer;}

	
/* Form styling from here on out. There is nothing in here that you HAVE to use to get this to work */	
#contactForm textarea, #contactForm input {
	width:180px; 
	background:#6d6d6d url(../images/contact/contact_input.png) repeat-x top; 
	color:#fff; 
	border:1px solid #8a8a8a; 
	height:15px; 
	line-height:14px; 
	font-size:1em; 
	padding:2px 2px 0px;}
	

#contactForm textarea {height:100px; font-family:Verdana, Geneva, sans-serif;}
#contact button[type=submit] {
	color:#669900;
	text-shadow: 1px 1px 3px #111;
	font:bold 1em 'oO';
	width: 80px; height: 25px; float: right; padding: 0 10px; margin: 0 10px 10px 0;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	border: 1px solid #777;
	background: -moz-linear-gradient(top, #777 0%, #222 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777), color-stop(100%,#222)); /* webkit */
	cursor: pointer;}	
	
#contactForm .submit:active {background:#cacaca; } /* Style bg bouton envoyer */
#contactForm label {padding-left:4px; font-weight:bold;}
#contactForm p {padding-bottom:8px;}
#contactForm .input_boxes {float:left; width:204px;}