@charset "UTF-8";
/* ---------------------------------------------------------- */
/*	Nom : Site en maintenance		   		 */
/*		 Date : 03-03-2011  				 */
/*	 Auteurs: Demay Jean-Damien // Arana Jonathan          */
/* 		 Entreprise : www.kryzalead.fr	   	    */
/* 		Edition: style.css			   */
/*			Version: 1.0			   */
/* -------------------------------------------------------- */
/* --------------------- */
/*          RESET       */
/* ------------------ */
/* line 19, ../style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* reset TAGS */
/* line 22, ../style.scss */
html, body, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, ol, ul, li, fieldset, form, label, legend, table, caption {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* ---------------------- */
/*  STYLES DE BASE  */
/* ------------------- */
@font-face {
  font-family: 'oO';
  src: url("../fonts/opificio-webfont.eot");
  src: url("../fonts/opificio-webfont.eot?iefix") format("eot"), url("../fonts/opificio-webfont.woff") format("woff"), url("../fonts/opificio-webfont.ttf") format("truetype"), url("../fonts/opificio-webfont.svg#webfontrbChTaLI") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'O_O';
  src: url("../fonts/jellyka_cuttycupcakes-webfont.eot");
  src: url("../fonts/jellyka_cuttycupcakes-webfont.eot?iefix") format("eot"), url("../fonts/jellyka_cuttycupcakes-webfont.woff") format("woff"), url("../fonts/jellyka_cuttycupcakes-webfont.ttf") format("truetype"), url("../fonts/jellyka_cuttycupcakes-webfont.svg#webfontThIAGJgq") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 46, ../style.scss */
html {
  font-size: 100%;
}

/* line 47, ../style.scss */
body {
  background-color: #FFF;
  font-family: "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ---------------------- */
/*              LIENS             */
/* -------------------- */
/* line 52, ../style.scss */
a {
  text-decoration: none;
  font-family: Arial;
  outline: none;
}

/* line 53, ../style.scss */
a:focus, a:active {
  outline: none;
}

/* line 54, ../style.scss */
a img {
  border: none;
}

/* ---------------------- */
/*    TITRES Hx      */
/* -------------------- */
/* line 60, ../style.scss */
h1 a, h1 a:visited, h2 a, h2 a:visited {
  cursor: default;
  text-decoration: none;
}

/* line 61, ../style.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus {
  text-decoration: none;
  color: #690;
}

/* line 62, ../style.scss */
h1, h2 {
  display: inline-block;
  font-weight: 400;
}

/* ------------------------ */
/*    PARAGRAPHE  */
/* --------------------- */
/* line 68, ../style.scss */
p {
  margin: .75em 0;
}

/* --------------------------- */
/* ~ TYPE EN-LIGNE   */
/* ------------------------ */
/* line 74, ../style.scss */
.color_green {
  color: #690;
}

/* line 75, ../style.scss */
.souligne {
  text-decoration: underline;
}

/* ------------------------ */
/*   FRAMEWORKS  */
/* ---------------------- */
/* line 81, ../style.scss */
.ombre, header.headerMenu span.accroche, .actu article h2 {
  text-shadow: #555555 1px 1px 3px;
}

/* line 82, ../style.scss */
.animer, h1 a, h1 a:visited, h2 a, h2 a:visited, header.headerMenu nav a:hover, header nav a:focus {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 83, ../style.scss */
.arrondie, #contact, #nom, #email, #message, #contactValid, #contactNoJs, #contactNoJsNom, #contactNoJsEmail, #contactNoJsMessage, #contactNoJsValid, input, textarea, #descType, .prev, .next {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* ------------------------ */
/*       WRAPPER      */
/* ---------------------- */
/* line 88, ../style.scss */
#wrapper {
  margin: 0 auto;
  min-height: 800px;
}

/* ------------------------ */
/*      CONTENT       */
/* --------------------- */
/* line 94, ../style.scss */
#content {
  width: 1000px;
  margin: 0 auto;
}

/* --------------------------- */
/*    HEADER MENU    */
/* ------------------------ */
/* line 100, ../style.scss */
header.headerMenu {
  position: relative;
  border-bottom: 6px solid #690;
  background-color: #202021;
  width: 100%;
  height: 175px;
  margin: 0 auto;
}

/* line 101, ../style.scss */
header.headerMenu .c_header {
  width: 1000px;
  margin: 0 auto;
}

/* line 102, ../style.scss */
header.headerMenu #logo {
  float: left;
  margin-top: 47px;
}

/* line 103, ../style.scss */
header.headerMenu nav {
  text-align: right;
  font-size: 1.3em;
  padding-top: 10px;
}

/* line 104, ../style.scss */
header.headerMenu nav a {
  color: #FFF;
  margin: 0 6px;
}

/* line 105, ../style.scss */
header.headerMenu nav a:hover, header nav a:focus {
  color: #690;
  border-bottom: 25px solid #690;
}

/* line 106, ../style.scss */
header.headerMenu span.accroche {
  position: absolute;
  font: bold 2.4em 'O_O';
  color: #690;
  margin: 135px 0 0 -255px;
}

/* line 107, ../style.scss */
header.headerMenu .suivez-nous {
  margin: 4px 0 0 250px;
}

/* ----------------------- */
/*      SLOGAN        */
/* -------------------- */
/* line 113, ../style.scss */
#slogan {
  display: inline-block;
  text-align: right;
  padding: 70px 0 0 140px;
}

/* line 114, ../style.scss */
#slogan h2 a {
  font: bold 3.5em 'O_O';
}

/* ----------------------- */
/* PRESENTATION */
/* -------------------- */
/* line 120, ../style.scss */
section.presentation {
  margin: 60px auto 0;
  width: 1000px;
}

/*   COLONNES    */
/* line 124, ../style.scss */
.presentation {
  width: 100%;
  margin: 3.5em 0 0;
}

/* line 125, ../style.scss */
.presentation:after {
  display: block;
  clear: both;
}

/* line 126, ../style.scss */
.presentation article {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-left: 25px;
}

/* line 127, ../style.scss */
.presentation article h1 {
  margin: 0 0 20px;
  font: normal 1.3em Helvetica;
  padding-bottom: 2px;
  border-bottom: 1px solid #777;
  width: 220px;
}

/* line 128, ../style.scss */
.presentation article a {
  display: block;
  margin: 10px  0 0 15px;
  color: #09F;
  text-decoration: underline;
  font-weight: bold;
}

/* line 129, ../style.scss */
.presentation article a:hover {
  color: #690;
  margin-left: 20px;
}

/* line 130, ../style.scss */
.presentation article p {
  margin: 0;
  color: #777;
  text-align: justify;
}

/* line 131, ../style.scss */
.presentation article ul {
  list-style-type: none;
  color: #777;
}

/* line 132, ../style.scss */
.presentation article li {
  line-height: 1.8em;
}

/* line 133, ../style.scss */
.presentation article li span {
  color: #690;
  font-size: 1.2em;
  margin: 0 0 15px 20px;
  display: block;
  letter-spacing: 1px;
}

/* -------------------- */
/*     AGENCE     */
/* ----------------- */
/* ------------------------ */
/*     SLIDESHOW    */
/* ---------------------- */
/* line 145, ../style.scss */
section.slideshow {
  width: 1000px;
  margin: 40px auto 90px;
  clear: both;
}

/* ------------------ */
/*       ACTU      */
/* --------------- */
/* line 151, ../style.scss */
#c_actu {
  width: 1000px;
  margin: 0 auto;
}

/* line 153, ../style.scss */
.actu {
  width: 100%;
  background: url("../images/footer/footer-motif.png") 0 0 repeat;
  border-top: 4px solid #690;
}

/* line 154, ../style.scss */
.actu:after {
  display: block;
  clear: both;
}

/* line 155, ../style.scss */
.actu article {
  margin: 20px 50px 20px 0;
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

/* line 156, ../style.scss */
.actu article h2 {
  font: bold 1.8em 'oO';
  width: 380px;
  color: #EEE;
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
}

/* line 157, ../style.scss */
.actu article span {
  display: block;
  padding-bottom: 10px;
  color: #690;
  font: normal 1.4em 'oO';
}

/* line 158, ../style.scss */
.actu img {
  float: left;
  border: 1px dashed #BBB;
  width: 90px;
  margin: 0 10px;
}

/* line 159, ../style.scss */
.actu article ul {
  list-style-type: none;
  color: #777;
}

/* line 160, ../style.scss */
.actu article li {
  margin-bottom: 15px;
}

/* line 161, ../style.scss */
.actu article li a {
  display: block;
  color: #09F;
  font-size: 1.1em;
}

/* line 162, ../style.scss */
.actu li a.cv {
  display: block;
  font: normal 1.2em 'oO';
  width: 70px;
  margin: 30px 0 0 100px;
}

/* line 163, ../style.scss */
.actu li a:hover.cv {
  font-weight: bold;
}

/*   Blog   */
/* line 166, ../style.scss */
#actuBlog {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

/* line 167, ../style.scss */
#actuBlog p {
  color: #777;
}

/* line 168, ../style.scss */
#actuBlog header.headerBlog p {
  color: #690;
}

/* ------------------------------------- */
/*    STYLE FORM CONTACT   */
/* ----------------------------------- */
/* line 175, ../style.scss */
#contact {
  background-color: #fff;
  display: none;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 90px;
  width: 650px;
  z-index: 9999;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 176, ../style.scss */
#contact img.img-form {
  float: right;
  display: inline-block;
  margin-top: 20px;
}

/* line 177, ../style.scss */
#contact h2 {
  font: normal 4.5em 'O_O';
}

/* line 178, ../style.scss */
#close a {
  background: url("../images/contact/close.png") no-repeat right;
  cursor: pointer;
  font: bold 1.5em Arial;
  color: #202021;
  text-decoration: none;
  float: right;
  padding: 5px 30px 5px 5px;
}

/* line 179, ../style.scss */
#close a:hover {
  background: url("../images/contact/close2.png") no-repeat right;
  color: #ea0f00;
  font-size: 1.7em;
  text-decoration: underline;
}

/* line 180, ../style.scss */
#contact_header {
  background: url("../images/contact/symbole.png") no-repeat left;
  font-family: arial, sans-serif;
  padding: 25px 5px 10px 60px;
}

/* line 181, ../style.scss */
.success, .inputError, .error {
  display: none;
}

/* line 182, ../style.scss */
.success {
  background-color: #9F6;
  border: 1px solid #0F0;
}

/* line 183, ../style.scss */
.inputError, .error {
  color: red;
}

/* line 184, ../style.scss */
#mask {
  background-color: #202021;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9000;
}

/* line 185, ../style.scss */
#nom, #email, #message {
  width: 230px;
  height: 7px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 10px 5px;
  overflow: hidden;
}

/* line 186, ../style.scss */
#nom:hover, #email:hover, #message:hover {
  background-color: #c8e789;
}

/* line 187, ../style.scss */
#message {
  width: 290px;
  max-width: 330px;
  height: 100px;
  max-height: 200px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 5px;
  overflow: hidden;
}

/* line 188, ../style.scss */
#contactValid {
  margin: 10px 0 0 220px;
  color: #690;
  font: bold 1.3em 'oO';
  width: 100px;
  cursor: pointer;
  background-color: #d2e8a5;
}

/* line 189, ../style.scss */
#contactValid:hover {
  background-color: #c8e789;
  color: #660;
  font: bold 1.3em 'oO';
  letter-spacing: 1px;
}

/*  Contact NoJS  */
/* line 192, ../style.scss */
#contactNoJs {
  width: 650px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* line 193, ../style.scss */
#contactNoJs img.img-form {
  float: right;
  display: inline-block;
  margin-top: 100px;
}

/* line 194, ../style.scss */
#contactNoJs h2 {
  font: normal 4.5em 'O_O';
}

/* line 195, ../style.scss */
#contactNoJs .inputError {
  display: inline;
}

/* line 196, ../style.scss */
#contactNoJs .success, #contactNoJs .error {
  display: block;
}

/* line 197, ../style.scss */
#contactNoJsNom, #contactNoJsEmail {
  width: 230px;
  height: 7px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 10px 5px;
  overflow: hidden;
}

/* line 198, ../style.scss */
#contactNoJsMessage:hover, #contactNoJsNom:hover, #contactNoJsEmail:hover {
  background-color: #c8e789;
}

/* line 199, ../style.scss */
#contactNoJsMessage {
  width: 300px;
  max-width: 325px;
  height: 140px;
  max-height: 200px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  background-color: #d2e8a5;
  color: #404040;
  margin: 5px 0;
  padding: 5px;
  overflow: hidden;
}

/* line 200, ../style.scss */
#contactNoJsValid {
  width: 80px;
  cursor: pointer;
  background-color: #d2e8a5;
}

/* line 201, ../style.scss */
#contactNoJsValid:hover {
  background-color: #c8e789;
  color: #690;
  font: bold 1em Arial;
}

/* ---------------------- */
/*  STYLE DEVIS   */
/* ------------------- */
/* line 208, ../style.scss */
section#form_devis {
  clear: both;
  margin-bottom: 20px;
}

/* line 209, ../style.scss */
section#form_devis h2 a {
  font: normal 2em 'oO';
  padding: 40px 0px 15px;
  display: block;
}

/* line 210, ../style.scss */
section#form_devis p {
  color: #777;
  text-align: justify;
  width: 640px;
}

/* line 211, ../style.scss */
section#form_devis legend {
  font-size: 1.3em;
  padding: 20px 0;
  text-decoration: underline;
  color: #690;
}

/* line 213, ../style.scss */
.asterisk {
  font-size: 0.7em;
  vertical-align: super;
  color: #555;
  font-weight: bold;
}

/* line 214, ../style.scss */
.little {
  font-size: 0.75em;
}

/* line 215, ../style.scss */
.clear {
  clear: both;
}

/* line 217, ../style.scss */
.descInput {
  display: block;
  width: 250px;
  float: left;
}

/* line 218, ../style.scss */
.inputRadio input {
  margin: 5px 0 0 30px;
}

/* line 219, ../style.scss */
.infobulle {
  margin-left: 60px;
  float: left;
  width: 200px;
  margin-top: 10px;
  position: relative;
}

/* line 220, ../style.scss */
.infobulle label span {
  width: 200px;
  position: absolute;
  display: none;
  padding: 5px;
  top: 20px;
  left: 70px;
  background: #d2e8a5;
  border: 1px solid #999;
  font-size: 0.9em;
  z-index: 10;
  text-align: center;
}

/* line 221, ../style.scss */
#valid {
  margin: 30px 0 0 420px;
  width: 100px;
  cursor: pointer;
  font: bold 1.3em 'oO';
  background-color: #D2E8A5;
  padding: 4px 0;
  text-align: center;
  color: #690;
  text-decoration: none;
}

/* line 222, ../style.scss */
#valid:hover {
  font-weight: bold;
  background-color: #c8e789;
  text-decoration: none;
  color: #660;
}

/* line 224, ../style.scss */
input[type="text"], select, textarea {
  width: 250px;
}

/* line 225, ../style.scss */
input[type="radio"] {
  margin: 0 5px;
}

/* line 226, ../style.scss */
input[type="checkbox"] {
  margin-right: 5px;
}

/* line 227, ../style.scss */
input, textarea {
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  max-height: 150px;
  max-width: 250px;
}

/* line 228, ../style.scss */
select {
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-right: 1px solid #CECECE;
  padding: 2px;
  color: #690;
  font: bold 1em 'oO';
  width: 165px;
  text-align: center;
}

/* line 230, ../style.scss */
#floatLeft {
  float: left;
  margin-bottom: 15px;
}

/* line 231, ../style.scss */
#floatLeft input {
  margin: 10px 0 0px 30px;
}

/* line 232, ../style.scss */
#descType {
  width: 400px;
  height: 100px;
  margin-left: 250px;
  border: 1px dashed #690;
}

/* line 233, ../style.scss */
#descType p {
  max-width: 320px;
  margin: 0 auto;
  padding: 30px 0;
}

/* Style de la liste des étapes*/
/* line 236, ../style.scss */
#steps {
  list-style: none;
  width: 500px;
  margin: 40px 40px 20px;
  overflow: hidden;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* line 237, ../style.scss */
#steps li {
  font-size: 1.8em;
  display: inline-block;
  padding-left: 30px;
  margin: 10px 20px;
  color: #b0b1b3;
}

/* line 238, ../style.scss */
#steps li span {
  font-size: 11px;
  display: block;
}

/* line 239, ../style.scss */
#steps li.current {
  color: #690;
  font-weight: bold;
}

/* Style des boutons précédent et suivant*/
/* line 242, ../style.scss */
.prev, .next {
  font: bold 1.3em 'oO';
  width: 100px;
  border-color: #7C7C7C #CECECE #CECECE #7C7C7C;
  border-style: solid;
  border-width: 1px;
  background-color: #D2E8A5;
  padding: 4px 0;
  text-align: center;
  color: #690;
  text-decoration: none;
}

/* line 243, ../style.scss */
.prev:hover, .next:hover {
  font-weight: bold;
  background-color: #c8e789;
  text-decoration: none;
  color: #660;
}

/* line 244, ../style.scss */
.prev {
  float: left;
}

/* line 245, ../style.scss */
.next {
  float: right;
}

/* ---------------------------- */
/*     MENTIONS-LEGALES    */
/* -------------------------- */
/* line 251, ../style.scss */
section#mentions-legales {
  clear: both;
  margin: 20px 0;
}

/* line 252, ../style.scss */
section#mentions-legales h2 a {
  font: normal 2em 'oO';
  padding: 40px 0px 0;
  display: block;
}

/* line 253, ../style.scss */
section#mentions-legales div {
  margin: 15px 0;
}

/* line 254, ../style.scss */
section#mentions-legales p {
  color: #777;
  text-align: justify;
  width: 640px;
}

/* line 255, ../style.scss */
section#mentions-legales ul {
  list-style-type: none;
  margin: 20px 55px;
  color: #777;
}

/* line 256, ../style.scss */
section#mentions-legales li {
  font-size: 1em;
}

/* ---------------------- */
/*          FOOTER         */
/* -------------------- */
/* line 263, ../style.scss */
footer {
  display: inline-block;
  border-top: 3px solid #690;
  width: 100%;
  background-color: #111000;
}

/* line 264, ../style.scss */
footer p, a {
  color: #999;
}

/* line 265, ../style.scss */
footer a:hover {
  text-decoration: underline;
  color: #690;
}

/* line 266, ../style.scss */
#mentions {
  width: 1000px;
  margin: 0 auto;
}

/* line 267, ../style.scss */
#mentions p {
  text-align: left;
  font-size: 0.85em;
  padding-top: 3px;
}

/* line 268, ../style.scss */
#mentions span.ml {
  padding-left: 230px;
}

/* line 269, ../style.scss */
a.w3c {
  display: inline-block;
  position: absolute;
  margin: -5px 0 0 10px;
}

/* ------------------------ */
/*        WEB MOBILE         */
/* --------------------- */
@media (max-width: 640px) {
  /* passer tous les éléments de largeur fixe en largeur automatique */
  /* line 278, ../style.scss */
  body, element1, element2 {
    width: auto !important;
    margin: auto !important;
    padding: auto !important;
  }

  /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
  /* line 284, ../style.scss */
  img, table, td, blockquote, code, pre, textarea, input, object, embed, video {
    max-width: 100% !important;
  }

  /* gestion des mots longs */
  /* line 288, ../style.scss */
  textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    /* césure forcée */
    white-space: pre-line;
    /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }

  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
  /* line 293, ../style.scss */
  element1, element2 {
    float: none !important;
    width: auto !important;
  }

  /* masquer les éléments superflus */
  /* line 298, ../style.scss */
  .hide_mobile {
    display: none !important;
  }

  /* Un message personnalisé */
  /* line 302, ../style.scss */
  body:before {
    content: "Version mobile du site";
    display: block;
    color: #777;
    text-align: center;
    font-style: italic;
  }
}

@media only screen and (max-device-width:640px) and (orientation:landscape) {
  /* line 311, ../style.scss */
  body {
    -webkit-text-size-adjust: 70% !important;
  }
}
