@import "compass/css3";
$default-text-shadow-color:#555;
$default-text-shadow-blur:3px;
$default-transition-property:all;

 
/* ---------------------------------------------------------- */
/*	Nom : Site en maintenance		   		 */
/*		 Date : 03-03-2011  				 */
/*	 Auteurs: Demay Jean-Damien // Arana Jonathan          */
/* 		 Entreprise : www.kryzalead.fr	   	    */
/* 		Edition: style.css			   */
/*			Version: 1.0			   */
/* -------------------------------------------------------- */

/* --------------------- */
/*          RESET       */
/* ------------------ */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* reset TAGS */
html,body,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,ol,ul,li,fieldset,form,label,legend,table,caption{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}

/* ---------------------- */
/*  STYLES DE BASE  */
/* ------------------- */	
@font-face {
    font-family: 'oO';
      src: url('../fonts/opificio-webfont.eot');
      src: url('../fonts/opificio-webfont.eot?iefix') format('eot'),
	       url('../fonts/opificio-webfont.woff') format('woff'),
	       url('../fonts/opificio-webfont.ttf') format('truetype'),
	       url('../fonts/opificio-webfont.svg#webfontrbChTaLI') format('svg');
		      font-weight: normal;font-style: normal;}

@font-face {
    font-family: 'O_O';
       src: url('../fonts/jellyka_cuttycupcakes-webfont.eot');
       src: url('../fonts/jellyka_cuttycupcakes-webfont.eot?iefix') format('eot'),
	       url('../fonts/jellyka_cuttycupcakes-webfont.woff') format('woff'),
	       url('../fonts/jellyka_cuttycupcakes-webfont.ttf') format('truetype'),
	       url('../fonts/jellyka_cuttycupcakes-webfont.svg#webfontThIAGJgq') format('svg');
		       font-weight: normal;font-style: normal;}
	
	
html		{font-size:100%;}
body		{background-color:#FFF;font-family:"Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;font-size:0.8em;line-height:1.4;color:#444;-webkit-font-smoothing: antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;margin:0;padding:0;}
  
/* ---------------------- */
/*              LIENS             */
/* -------------------- */
a 					{text-decoration: none; font-family:Arial;outline: none;} 
a:focus, a:active 		{outline: none;} 
a img 				{border: none;} 


/* ---------------------- */
/*    TITRES Hx      */
/* -------------------- */
h1 a,h1 a:visited,h2 a,h2 a:visited			{cursor:default;text-decoration:none;@extend .animer;}
h1 a:hover,h1 a:focus, h2 a:hover,h2 a:focus	{text-decoration:none;color:#690;}
h1,h2								{display:inline-block;font-weight:400;}


/* ------------------------ */
/*    PARAGRAPHE  */
/* --------------------- */
p {margin: .75em 0;} 
 
 
/* --------------------------- */
/* ~ TYPE EN-LIGNE   */
/* ------------------------ */
.color_green		{color:#690}
.souligne			{text-decoration:underline}
 
 
/* ------------------------ */
/*   FRAMEWORKS  */
/* ---------------------- */
.ombre 		{@include text-shadow;}
.animer 		{@include transition;}
.arrondie		{@include border-radius(10px);}

/* ------------------------ */
/*       WRAPPER      */
/* ---------------------- */	
#wrapper {margin:0 auto; min-height: 800px;}


/* ------------------------ */
/*      CONTENT       */
/* --------------------- */
#content {width:1000px; margin:0 auto;}


/* --------------------------- */
/*    HEADER MENU    */
/* ------------------------ */
header.headerMenu								{position:relative;border-bottom:6px solid #690;background-color:#202021;width:100%;height:175px;margin:0 auto;}
header.headerMenu .c_header						{width:1000px;margin:0 auto;}
header.headerMenu #logo							{float:left;margin-top:47px;}
header.headerMenu nav							{text-align:right;font-size:1.3em;padding-top:10px;}
header.headerMenu nav a							{color:#FFF;margin:0 6px;}
header.headerMenu nav a:hover,header nav a:focus		{color:#690;border-bottom:25px solid #690; @extend .animer;}
header.headerMenu span.accroche					{position:absolute;  font:bold 2.4em 'O_O';color:#690;margin:135px 0 0 -255px;@extend .ombre;}
header.headerMenu .suivez-nous					{margin:4px 0 0 250px;}
  
  
/* ----------------------- */
/*      SLOGAN        */
/* -------------------- */
#slogan					{display:inline-block; text-align:right; padding:70px 0 0 140px; }
#slogan h2 a				{font:bold 3.5em 'O_O'; }
  

/* ----------------------- */
/* PRESENTATION */
/* -------------------- */ 
section.presentation {margin:60px auto 0; width:1000px;}


/*   COLONNES    */
.presentation                     				{width: 100%; margin: 3.5em 0 0; }
.presentation:after                  				{display: block; clear: both; }
.presentation article                				{display: inline-block; vertical-align:top; width: 220px; margin-left:25px; }
.presentation article h1           				{margin: 0 0 20px; font:normal 1.3em Helvetica;padding-bottom:2px; border-bottom:1px solid #777; width:220px; }
.presentation article a             				{display:block; margin: 10px  0 0 15px; color: #09F; text-decoration: underline;font-weight:bold; }
.presentation article a:hover				{color: #690; margin-left:20px; }
.presentation article p            				{margin: 0; color:#777;text-align:justify; }
.presentation article ul					{list-style-type:none; color:#777; }
.presentation article li			      			{line-height:1.8em; }
.presentation article li span					{color:#690;font-size:1.2em; margin:0 0 15px 20px; display:block; letter-spacing:1px;}


/* -------------------- */
/*     AGENCE     */
/* ----------------- */ 



/* ------------------------ */
/*     SLIDESHOW    */
/* ---------------------- */
section.slideshow {width:1000px;margin:40px auto 90px;clear:both;}


/* ------------------ */
/*       ACTU      */
/* --------------- */
#c_actu					{width:1000px;margin:0 auto;}
  
.actu						{width:100%; background:url('../images/footer/footer-motif.png') 0 0 repeat; border-top:4px solid #690;}
.actu:after       				{display:block; clear: both;} 
.actu article				{margin:20px 50px 20px 0;width:400px;display:inline-block;vertical-align:top;}
.actu article h2 				{font:bold 1.8em 'oO';width:380px;color:#EEE;border-bottom:1px solid #EEE;margin-bottom:20px; @extend .ombre;}
.actu article span 			{display: block;padding-bottom:10px;color:#690;font:normal 1.4em 'oO';}
.actu img					{float:left;border:1px dashed #BBB; width:90px;margin:0 10px;}
.actu article ul 				{list-style-type:none; color:#777;}
.actu article li 				{margin-bottom:15px}
.actu article li a				{display: block;color:#09F;font-size:1.1em;}
.actu li a.cv				{display: block;font:normal 1.2em 'oO';width:70px;margin:30px 0 0 100px;}
.actu li a:hover.cv			{font-weight:bold;}

/*   Blog   */
#actuBlog 					{width:400px;display:inline-block;vertical-align:top;}
#actuBlog p				{color:#777;}
#actuBlog header.headerBlog p	{color:#690;}



/* ------------------------------------- */
/*    STYLE FORM CONTACT   */
/* ----------------------------------- */
#contact									{background-color:#fff;display:none;left:50%;margin-left:-300px;position:absolute;top:90px;width:650px;z-index:9999;@extend .arrondie;border:1px solid #ccc;padding:20px;}
#contact img.img-form						{float:right;display:inline-block;margin-top:20px;}
#contact h2								{font:normal 4.5em 'O_O';}
#close a									{background:url('../images/contact/close.png') no-repeat right;cursor:pointer;font:bold 1.5em Arial;color:#202021;text-decoration:none;float:right;padding:5px 30px 5px 5px;}
#close a:hover								{background:url('../images/contact/close2.png') no-repeat right;color:#ea0f00;font-size:1.7em;text-decoration:underline;}
#contact_header							{background:url('../images/contact/symbole.png') no-repeat left;font-family:arial, sans-serif;padding:25px 5px 10px 60px;}
.success,.inputError,.error						{display:none;}
.success									{background-color:#9F6;border:1px solid #0F0;}
.inputError,.error							{color:red;}
#mask									{background-color:#202021; display:none; height:100%; position:fixed; width:100%; z-index:9000;}
#nom,#email,#message 						{width:230px;height:7px;border-color:#7C7C7C #CECECE #CECECE #7C7C7C;background-color:#d2e8a5;color:#404040;margin:5px 0;padding:10px 5px;overflow:hidden;@extend .arrondie;}
#nom:hover,#email:hover,#message:hover			{background-color:#c8e789;}
#message									{width:290px;max-width:330px;height:100px;max-height:200px;border-color:#7C7C7C #CECECE #CECECE #7C7C7C;background-color:#d2e8a5;color:#404040;margin:5px 0;padding:5px;overflow:hidden;@extend .arrondie;}
#contactValid								{margin:10px 0 0 220px;color:#690;font: bold 1.3em 'oO';width:100px;cursor:pointer; background-color:#d2e8a5;@extend .arrondie;}
#contactValid:hover							{background-color:#c8e789;color:#660;font: bold 1.3em 'oO';letter-spacing:1px;}
	
/*  Contact NoJS  */
#contactNoJs								{width:650px;border:1px solid #ccc;padding:10px 20px;margin-bottom:20px;@extend .arrondie;}
#contactNoJs img.img-form					{float:right;display:inline-block;margin-top:100px;}
#contactNoJs h2							{font:normal 4.5em 'O_O';}
#contactNoJs .inputError						{display: inline}
#contactNoJs .success,#contactNoJs .error		{display: block}
#contactNoJsNom,#contactNoJsEmail 			{width:230px;height:7px;border-color:#7C7C7C #CECECE #CECECE #7C7C7C;background-color:#d2e8a5;color:#404040;@extend .arrondie;margin:5px 0;padding:10px 5px;overflow:hidden}
#contactNoJsMessage:hover,#contactNoJsNom:hover,#contactNoJsEmail:hover		{background-color:#c8e789;}
#contactNoJsMessage						{width:300px;max-width:325px;height:140px;max-height:200px;border-color:#7C7C7C #CECECE #CECECE #7C7C7C;background-color:#d2e8a5;color:#404040;margin:5px 0;padding:5px;overflow:hidden;@extend .arrondie;}
#contactNoJsValid							{width:80px;cursor:pointer;background-color:#d2e8a5;@extend .arrondie;}
#contactNoJsValid:hover						{background-color:#c8e789;color:#690;font: bold 1em Arial;}



/* ---------------------- */
/*  STYLE DEVIS   */
/* ------------------- */
section#form_devis 				{clear:both;margin-bottom:20px;}
section#form_devis h2 a 			{font:normal 2em 'oO';padding:40px 0px 15px;display:block;}
section#form_devis p 			{color:#777;text-align:justify;width:640px;}
section#form_devis legend 		{font-size:1.3em;padding:20px 0;text-decoration:underline;color:#690}

.asterisk	 		{font-size:0.7em; vertical-align:super; color:#555; font-weight:bold}
.little				{font-size:0.75em;}
.clear			{clear: both}

.descInput			{display: block;width: 250px;float: left;}
.inputRadio input	{margin:5px 0 0 30px}
.infobulle			{margin-left: 60px;float: left;width:200px;margin-top: 10px;position: relative}
.infobulle label span	{width: 200px;position: absolute;display: none;padding: 5px;top:20px;left:70px;background:#d2e8a5;border:1px solid #999;font-size:0.9em;z-index: 10;text-align:center}
#valid			{margin:30px 0 0 420px;width:100px;cursor:pointer;font:bold 1.3em 'oO';background-color:#D2E8A5; padding:4px 0;text-align:center; color:#690; text-decoration:none;}
#valid:hover 		{font-weight:bold;background-color:#c8e789; text-decoration:none; color:#660;}

input[type="text"],select,textarea{width:250px}
input[type="radio"]{margin:0 5px;}
input[type="checkbox"]{margin-right: 5px}
input,textarea{border-color:#7C7C7C #CECECE #CECECE #7C7C7C;border-style:solid;border-width:1px;padding:2px;max-height:150px;max-width:250px;@extend .arrondie;}
select{border-color:#7C7C7C #CECECE #CECECE #7C7C7C;border-right:1px solid #CECECE;padding: 2px;color:#690;font:bold 1em 'oO';width:165px;text-align:center;}

#floatLeft 			{float: left;margin-bottom:15px;}
#floatLeft input		{margin:10px 0 0px 30px;}
#descType 		{width:400px;height:100px;margin-left:250px;border:1px dashed #690;@extend .arrondie;}
#descType p		{max-width:320px;margin:0 auto;padding:30px 0;}

	/* Style de la liste des étapes*/
#steps 					{list-style:none; width:500px; margin:40px 40px 20px;overflow:hidden;border-top:1px solid silver;border-bottom:1px solid silver}
#steps li				{font-size:1.8em; display:inline-block;padding-left:30px;margin:10px 20px; color:#b0b1b3;}
#steps li span		{font-size:11px; display:block;}
#steps li.current 	{color:#690;font-weight:bold;}

	/* Style des boutons précédent et suivant*/
.prev, .next {font:bold 1.3em 'oO';width:100px;border-color:#7C7C7C #CECECE #CECECE #7C7C7C;border-style:solid;border-width:1px;background-color:#D2E8A5; padding:4px 0;text-align:center; color:#690; text-decoration:none;@extend .arrondie;}
.prev:hover, .next:hover {font-weight:bold;background-color:#c8e789; text-decoration:none; color:#660;}
.prev {float:left;}
.next {float:right;}


/* ---------------------------- */
/*     MENTIONS-LEGALES    */
/* -------------------------- */
section#mentions-legales				{clear:both;margin:20px 0;}
section#mentions-legales h2 a 			{font:normal 2em 'oO';padding:40px 0px 0;display:block;}
section#mentions-legales div 			{margin:15px 0;}
section#mentions-legales p				{color:#777;text-align:justify;width:640px;}
section#mentions-legales ul			{list-style-type:none;margin:20px 55px;color:#777}
section#mentions-legales li				{font-size:1em;}



/* ---------------------- */
/*          FOOTER         */
/* -------------------- */
footer					{display:inline-block;border-top:3px solid #690;width:100%;background-color:#111000;}
footer p,a					{color:#999;}
footer a:hover				{text-decoration:underline;color:#690;}
#mentions					{width:1000px;margin:0 auto;}
#mentions p				{text-align:left;font-size:0.85em;padding-top:3px}
#mentions span.ml			{padding-left:230px;}
a.w3c					{display:inline-block;position:absolute;margin:-5px 0 0 10px;}

	
/* ------------------------ */
/*        WEB MOBILE         */
/* --------------------- */
@media (max-width: 640px) { 
 
 /* passer tous les éléments de largeur fixe en largeur automatique */ 
 body, element1, element2 { 
   width: auto !important; 
   margin: auto !important; 
   padding: auto !important;  } 
 
 /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */ 
 img, table, td, blockquote, code, pre, textarea, input, object, embed, video { 
   max-width: 100% !important;  } 
 
 /* gestion des mots longs */ 
 textarea, table, td, th, code, pre, samp { 
   word-wrap: break-word; /* césure forcée */ 
   white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */  } 
 
 /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */ 
 element1, element2 { 
   float: none !important; 
   width: auto !important } 
 
 /* masquer les éléments superflus */ 
 .hide_mobile { 
   display: none !important; } 
 
 /* Un message personnalisé */ 
 body:before { 
   content: "Version mobile du site"; 
   display: block; 
   color: #777; 
   text-align: center; 
   font-style: italic; } 
} 

@media only screen and (max-device-width:640px) and (orientation:landscape)  {
	body {
	-webkit-text-size-adjust: 70% !important;}
}