@charset "UTF-8";
/* --------------------- */
/*         RESET     */
/* ----------------- */
/* line 6, ../style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* reset TAGS */
/* line 9, ../style.scss */
html, body, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, ol, ul, li, fieldset, form, label, legend, table, caption {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* --------------------------- */
/*  STYLES DE BASE  */
/* ----------------------- */
/* line 14, ../style.scss */
html {
  font-size: 100%;
}

/* line 15, ../style.scss */
body {
  background-color: #FFF;
  font-family: Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 1em;
  color: #6a6a6a;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ---------------------- */
/*         LIENS        */
/* ------------------- */
/* line 20, ../style.scss */
a {
  text-decoration: none;
  font-family: Arial;
  outline: none;
}

/* line 21, ../style.scss */
a:focus, a:active {
  outline: none;
}

/* line 22, ../style.scss */
a img {
  border: none;
}

/* ------------------------ */
/*   FRAMEWORKS  */
/* --------------------- */
/* line 28, ../style.scss */
.ombre {
  text-shadow: #777777 0 1px 3px;
}

/* line 29, ../style.scss */
.animer {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 30, ../style.scss */
.arrondie {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 31, ../style.scss */
.boxOmbre {
  -moz-box-shadow: #777777 1px 1px 7px 0;
  -webkit-box-shadow: #777777 1px 1px 7px 0;
  -o-box-shadow: #777777 1px 1px 7px 0;
  box-shadow: #777777 1px 1px 7px 0;
}

/* line 32, ../style.scss */
#v-gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aaff00), color-stop(100%, #669900));
  background-image: -moz-linear-gradient(top, #aaff00 0%, #669900 100%);
  background-image: linear-gradient(top, #aaff00 0%, #669900 100%);
}

/* line 35, ../style.scss */
.gradient {
  width: 100%;
  height: 80px;
}

/* -------------------- */
/*       ADMIN      */
/* ---------------- */
/* line 42, ../style.scss */
header.menuAdmin {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #999;
  background-color: #F2F2F2;
}

/* line 43, ../style.scss */
header.menuAdmin h1 {
  font: normal 1.6em Arial;
  color: #444;
  padding: 25px;
}

/* menu js */
/* line 46, ../style.scss */
nav .sm {
  list-style-type: none;
  width: 100%;
  height: 95px;
  display: inline-block;
  overflow: hidden;
  margin: 20px auto 0;
}

/* line 47, ../style.scss */
nav .sm li {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
  border-right: 1px dotted #BFBFBF;
  margin-left: 5px;
}

/* Section repereMenu */
/* line 50, ../style.scss */
section.repereMenu {
  font-size: 0.95em;
  margin: 20px 0;
}

/* line 51, ../style.scss */
section.repereMenu p {
  padding: 0;
  color: #fff;
}

/* line 52, ../style.scss */
span.fondVert {
  background: #690;
  padding: 0 20px;
  border: 1px dotted #545454;
}

/* line 53, ../style.scss */
span.fondGris {
  background: #E0E0E0;
  padding: 0 10px;
  color: #555;
  border: 1px dotted #8E8E8E;
}
